#logo{
height: 80px;
text-align: center;
font-size: 50px;
color: black;
}
#logo a{
color: black;
}
#change{
border: 1px solid black;
padding: 10px;
width: 300px;
margin: auto;
text-align:center;
}
.btn{
margin : 10px;
}