*{
font-family: Comic Sans MS; 
}
div#logo{
height: 80px;
text-align: center;
font-size: 50px;
}
#logo a{
color: black;
}
.pull-left{
width: 35%;
height: 341px;
}
.jumbotron{
margin: 0px 15px;
width: 40%;
display: inline-block;
}
